html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1 {

}

h2 {
    font-size: 5.5em;
    line-height: 0.87273;
}

p {
    display: block;
    color: #fff;
    font-size: 1.2em;
}

.parallax {
    background: 
    linear-gradient(rgba(0, 157, 228, 0.5), rgba(0, 159, 150, 0.5)),
    url('img/view.JPG');
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1024px){
    .parallax{
        background-attachment: scroll;
    }
}

.nav-default {
    background-color: rgba(0, 0, 0, 0);
}

.link-style {
    font-size: 20px;
    color: #e6e6e6;
    display: block;
    padding: .5em 1em;
}
.link-style:hover {
    text-decoration: none;
    background-color: #fff;
}

.sub-text {
    padding-top: 2em;
}

#menuOption {
    -webkit-animation-duration: 1.0s;
    -webkit-animation-delay: 0.5s;
}


.parallaxText {
    position: absolute; 
    font-size: 7rem;
    top: 30%; 
    left: 0; 
    width: 100%; 
    color: whitesmoke;
    -webkit-animation-duration: 15s;
    -webkit-animation-delay: 1s;
}

.nowrap {
    white-space: nowrap;
    color: #fff;
}

.sub-heading {
    position: absolute; 
    font-size: 3em;
    top: 50%; 
    left: 0; 
    width: 100%; 
    color: whitesmoke;
    -webkit-animation-duration: 15s;
    -webkit-animation-delay: 2s;
}

.description-container {
    background: linear-gradient(rgba(0, 157, 228, 0.7), rgba(0, 159, 150, 0.7))
}

.fa-2x {
    font-size: 2em;
}

.fa-3x {
    font-size: 3em;
}

.fa-4x {
    font-size: 4em;
}

.fa-5x {
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 5em;
}

.purple-bg {
    background-color: #8e44ad;
}

.blue-bg {
    background-color: #2980b9;
}

.orange-bg {
    background-color: #f39c12;
}

.text-container {
    margin: 0 auto;
    width: 65%;
    height: 100%;
}